.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page-content {
  width: 80%;
  max-width: 1000px;
  color: #000;
  margin: 20px auto;
}

/* .list-item:hover {
  background-color: #dfeefb94 !important;
} */
